*.onnx
*.gif
*.png
*.npy
kiss-icp
launcher
middleware
ros2-mocap-optitrack
multiple_object_tracking_lidar_ros2
autoware_universe
ros2_pcl_object_detection
OctoMap-ROS2
sensor_component
core
ouster-ros
eagleye
pointcloud_to_grid
/tools
__pycache__/
*.egg-info/
*.so
*.pth
maps
*.pyc
*.ply
*.db
*.pcd
alpaca_launch/ranger_ctrl/data/
alpaca_navigation/alpaca_navigation/debug.py
alpaca_navigation/alpaca_navigation/sm_mppi_for_param_sweep.py
alpaca_navigation/alpaca_navigation/waypoint_publisher.py
alpaca_navigation/alpaca_navigation/mppi_metric_collector.py

alpaca_navigation/alpaca_navigation/param_sweep.py



# submission hygiene
.vscode/
__MACOSX/
alpaca_interaction/alpaca_interaction/data/
alpaca_navigation/alpaca_navigation/simulation/
